{% extends "layouts/main.html" %}

{% set bodyClasses = "app-wide" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "dashboard/macro.njk" import appDashboard, appSideNav %}

{% set pageName = "Post intervention for area habitats" %}

{% block pageTitle %}{{ pageName }} – {{ serviceName }} – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Beta" },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ appSideNav(sideNav) }}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <div class="app-page-header">
      <div>
        <span class="govuk-caption-l">{{ data.projectName | default("Project name", true) }}</span>
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
      </div>
      <div class="app-page-header__actions">
        {{ govukButton({ text: "Upload file", href: "/project-dashboard/upload/choose" }) }}
      </div>
    </div>

    <h2 class="govuk-heading-m">Area habitats results</h2>
    {{ appDashboard(resultsHeadlineDashboard) }}
    {{ appDashboard(resultsBreakdownDashboard) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Area habitats size</h2>
    {{ appDashboard(sizeDashboard) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Area habitat details</h2>
    <div class="app-scrollable-table" role="region" tabindex="0" aria-label="Area habitat details, scroll horizontally to see more columns">
      {{ govukTable(postInterventionHabitatDetailsTable) }}
    </div>

  </div>
</div>
{% endblock %}
