{% extends "layouts/main.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName = "Upload a GeoPackage (.gpkg) file" %}

{% block pageTitle %}{{ pageName }} – {{ serviceName }} – GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: error,
            href: "#fileUpload"
          }
        ]
      }) }}
    {% endif %}

    <span class="govuk-caption-l">On-site baseline</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">
      Upload a GeoPackage (.gpkg) file containing a red line boundary and baseline habitat parcels.
    </p>

    <form method="post" action="/on-site-baseline/upload-single-file" enctype="multipart/form-data" novalidate>

      {{ govukFileUpload({
        id: "fileUpload",
        name: "fileUpload",
        label: {
          text: "Upload a file"
        },
        errorMessage: error if error else undefined,
        javascript: true,
        attributes: {
          accept: ".gpkg"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      {{ govukButton({
        text: "Cancel",
        href: "/project/details",
        classes: "govuk-button--secondary"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
