{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% set pageName = "Add your Biodiversity Net Gain project details" %}

{% block pageTitle %}{{ pageName }} – {{ serviceName }} – GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ projectName or 'Project name' }}</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body govuk-!-margin-top-6">
      When you provide your information:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>complete each section before sending the information</li>
      <li>you can edit sections after completing them</li>
      <li>you can save your progress at the end of each section to return later</li>
    </ul>

    {% if baselineComplete %}
      {% if postInterventionComplete %}
        {% set postStatus = "Completed" %}
      {% else %}
        {% set postStatus = "Not yet started" %}
      {% endif %}

      {# Build the Post intervention status cell once, then use in the Task List #}
      {% if postStatus == "Completed" %}
        {% set postInterventionStatus = {
          text: postStatus
        } %}
      {% else %}
        {% set postInterventionStatus = {
          tag: {
            text: postStatus,
            classes: "govuk-tag--blue"
          }
        } %}
      {% endif %}

      {{ govukTaskList({
        idPrefix: "project-details",
        items: [
          {
            title: {
              text: "Project name"
            },
            href: "/project/name",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              text: "Project details"
            },
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "On-site baseline habitats"
            },
            href: "/on-site-baseline/upload-single-file",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              text: "On-site post intervention habitats"
            },
            href: "/on-site-post-intervention/upload-single-file",
            status: postInterventionStatus
          }
        ]
      }) }}
    {% else %}
      {{ govukTaskList({
        idPrefix: "project-details",
        items: [
          {
            title: {
              text: "Project name"
            },
            href: "/project/name",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              text: "Project details"
            },
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "On-site baseline habitats"
            },
            href: "/on-site-baseline/upload-single-file",
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "On-site post intervention habitats"
            },
            status: {
              html: '<span class="govuk-hint govuk-!-margin-0">Cannot start yet</span>'
            }
          }
        ]
      }) }}

    {% endif %}

    {% if postInterventionComplete %}
      <div class="govuk-!-margin-top-6">
        {{ govukButton({
          text: "Send details",
          href: "/project/details/review"
        }) }}
      </div>
    {% endif %}

  </div>
</div>
{% endblock %}
