{% extends "layouts/main.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageName="Confirmation" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Your information is ready for " + (projectName or 'this project'),
      classes: "govuk-panel--confirmation"
    }) }}

    <p class="govuk-body"><a href="#" class="govuk-link">Download a PDF of your BNG metric</a></p>
  </div>
</div>

{% endblock %}

