{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {% set toolsNavigation = [] %}
    {% if showTools %}
        {% set toolsNavigation = [
            { href: "/test-data/gen-gpkg", text: "Generate test GeoPackage" },
            { href: "/tools/ukhab-styles", text: "UKHab style reference" },
            { href: "/TradingRules?v=9", text: "Trading rules" },
            { href: "/TradingRulesSimulator", text: "Trading rules simulator" },
            { href: "/EnhancementRules", text: "Enhancement rules" }
        ] %}
    {% endif %}

    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName,
        navigation: toolsNavigation
    })}}

{% endblock %}
